<br><br><br><br>

<div class="card">

    <h1>Cadastrar Livro</h1>

    <form action="/livros" method="POST">
    <br>
        <label id="icon"><i class="fa fa-book"></i>  Titulo do livro:</label>
        <input name="titulo" type="text" placeholder="Digite o titulo do livro">
    <br>
        <label id="icon"><i class="fa fa-file-text-o"></i>  Número de páginas:</label>
        <input name="page" type="number" placeholder="Digite a quantidade de páginas">

        <div class = "btn">
        <input name="cadastrar" type="submit" value="Cadastrar Livro">
        </div>

        <div class = "btn">
        <input name="visualizar" type="submit" value="Livros Cadastrados">
        </div>
        
    <br>
    </form>

</div> 
