

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylelogin">
  <link rel="stylesheet" href="stylemenu">

	
</head>
<body>
{{#each lista}}
  <nav>
  <label for="id-show-menu" class="show-menu">
    <div class="nav-icon">
      <i class="fa fa-navicon"></i>
    </div>
  </label>
  <input type="checkbox" id="id-show-menu" class="checkbox-menu" role="button">
  <div class="menu-block">
    <ul class="navUL">
      <li><a href="telaInicial">Home</a></li>
      <li><a href="edituser">Editar Seus Dados</a></li>
      <li><a href="cad-livro">Cadastrar Livro</a></li>
			<li><a href="visulivro" target="_blank">Livros Cadastrados</a></li>
			<li><a href="sair">Sair</a></li>
      </li>
    </ul>
  </div>
</nav>
	
	<div class="container">
		<div class="container-login">
			<div class="wrap-login">
				<form class="login-form" action="/cadastro-livro" method="POST">

					<span class="login-form-title">
						Cadastrar Livro
					</span>

        
						<input class="input-form" type="hidden" name="id_book" autocomplete="off" value="{{id_book}}">

          <div class="wrap-input margin-top-35 margin-bottom-35">
						<input class="input-form" type="text" name="autor" autocomplete="off">
						<span class="focus-input-form" data-placeholder="Autor"></span>
					</div>
				

					<div class="wrap-input margin-top-35 margin-bottom-35">
						<input class="input-form" type="text" name="titulo" autocomplete="off">
						<span class="focus-input-form" data-placeholder="Titulo"></span>
					</div>

					<div class="wrap-input margin-top-35 margin-bottom-35">
						<input class="input-form" type="text" name="sinopse" autocomplete="off">
						<span class="focus-input-form" data-placeholder="Sinopse"></span>
					</div>

          <div class="wrap-input margin-top-35 margin-bottom-35">
						<input class="input-form" type="number" name="pagina" autocomplete="off">
						<span class="focus-input-form" data-placeholder="Número de páginas"></span>
					</div>

					<div class="wrap-input margin-top-35 margin-bottom-35">
                    <label for="genero">Gênero:</label>

                        <select name="genero" id="genero">
                        <option value="Ação">Ação</option>
                        <option value="Aventura">Aventura</option>
                        <option value="Comedia">Comedia</option>
                        <option value="Conto">Conto</option>
                        <option value="Crônica">Crônica</option>
                        <option value="Drabs, Drabble, Droubble (Minicontos)">Drabs, Drabble, Droubble (Minicontos)</option>
                        <option value="Drama / Tragédia">Drama / Tragédia</option>
                        <option value="Epopeia (Épico)">Epopeia (Épico)</option>
                        <option value="Esporte">Esporte</option>
                        <option value="Fábula">Fábula</option>
                        <option value="Família">Família</option>
                        <option value="Fantasia">Fantasia</option>
                        <option value="Ficção">Ficção</option>
                        <option value="Ficção Adolescente">Ficção Adolescente</option>
                        <option value="Ficção Científica / SciFi">Ficção Científica / SciFi</option>
                        <option value="Magia/Misticismo">Magia/Misticismo</option>
                        <option value="Mistério">Mistério</option>
                        <option value="Romance">Romance</option>
                        <option value="Suspense">Suspense</option>
                        <option value="Terror">Terror</option>
                        </select>
					
                </div>

					<div class="container-login-form-btn">
						<input name="cadlivro" type="submit" class="login-form-btn" value="Cadastrar Livro">
					</div><br>
				</form>
			</div>
		</div>
	</div>
	
	<script>
		let inputs = document.getElementsByClassName('input-form');
		for (let input of inputs) {
			input.addEventListener("blur", function() {
				if(input.value.trim() != ""){
					input.classList.add("has-val");
				} else {
					input.classList.remove("has-val");
				}
			});
		}
	</script>
{{/each}}
</body>
</html>